@picture-size: 50px;

.profile-card {
  .profile-card-img-container {
    display: inline-block;
    float: left;
    height: @picture-size;
    width: @picture-size;

    img, div {
      border-radius: 50%;
      width: 100%;
      height: 100%;
      line-height: @picture-size;
      font-size: 3rem;
    }
  }

  .profile-card-main {
    width: 100%;
    height: auto;
    background: #fff;
    float: left;

    h4 {
      .h4 !important;
      margin: 10px 0 !important;
      float: left !important;
      width: auto !important;
    }

    ul {
      float: right;
      margin: 0;
      padding: 0;

      li {
        padding: 4px 12px;
        margin-top: 2px;
        list-style: none;
        float: left;

        a {
          color: @gray;

          &:hover {
            color: @gray-dark;
          }
        }
      }
    }
  }

  .profile-card-stats {
    display: inline-block;
    float: left;
    margin: 0;
    padding: 0;
    width: 190px;

    li {
      float: left;
      list-style: none outside none;
      padding: 6px 0;
      text-align: center;
      width: 25%;

      display: inline-block;
      font-size: 13px;

      span {
        display: block;
      }
    }
  }
}

